body{
    
    text-align: center;
    background-color:white;
    margin: 0%;
    font-family:'Merriweather',serif;

}
.introduction{
    padding:10px;
}
#profile_photo{
    width:220px;
}
.top-div{
    background-color: #F8FFDB;
    position: relative;
    padding-top: 100px;
}
.middle-container{
    padding:0 20%;
}
.bottom-container{
    background: #F8FFDB;
    padding:50px 0 20px;
    margin-top:10px ;
}
.btn {
    background: #66BFBF;
    background-image: -webkit-linear-gradient(top, #66BFBF, #66BFBF);
    background-image: -moz-linear-gradient(top, #66BFBF, #66BFBF);
    background-image: -ms-linear-gradient(top, #66BFBF, #66BFBF);
    background-image: -o-linear-gradient(top, #66BFBF, #66BFBF);
    background-image: linear-gradient(to bottom, #66BFBF, #66BFBF);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Georgia;
    color: #F8FFDB;
    font-size: 14px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }

h1{
    padding: 10px;
    color:  #66BFBF;
    line-height: 1;
    font-size:5.625rem;
    font-family:"Sacramento";
    margin: 50px auto 0 auto ; /*https://developer.mozilla.org/en-US/docs/Web/CSS/margin*/
}
h2{
    font-weight: normal;
    color:  #66BFBF; 
    font-family:'Merriweather',serif;
}
h3 {
    color:#11999E;
}
a{
    color:#11999E;
}

#cloud1{
    position:absolute;
    left: -150px;
    top:20px;
    animation: 25s linear 0s infinite running moving-clouds;
}
#cloud2{
    position: absolute;
    bottom: 300px;
    left:-500px;
    animation: 25s linear 0s infinite running moving-clouds;
}
.pic{
    width: 120px;
    float: right;
    margin: 40px;
}
#under-phrase{
    font-size: 2.5rem;

}
.mountain{
    margin: auto auto ;
    margin: 100px auto 100px auto ;
    width:800px
}
.skill-row{
    width: 40% ;
    margin: 100px auto 100px auto ;
    text-align:left;
    line-height: 2;
}
hr{
    border-style: dotted;
    color: grey;
    width: 3%;
    border-bottom: hidden;
    border-width: 6px;
    margin:auto ;
}
@keyframes moving-clouds{
    from{
        transform: translateX(initial);
    }
    to{

        transform: translateX(150rem)
    }
}

#bird{
    position: absolute;
    left:-100px;
    bottom:20px;
    width: 50px;
    margin:auto;
    animation: 25s linear 0s infinite running bird-move;

}

@keyframes bird-move{
    0%{
        transform: translateX(initial);
    }

    100%{

        transform: translate(300rem,-150rem)
    }
}
